body, html {
    height: 100%;
}
.container-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}
.container-404 h1 {
    font-size: 10rem;
}