<div class="modal-backdrop" *ngIf="isOpen">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formData" (ngSubmit)="add()">
          <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" formControlName="name" />
            <div *ngIf="formData.get('name')!.invalid && formData.get('name')!.touched" class="text-danger">
              <ng-container *ngIf="formData.get('name')!.errors?.required">
                Tên bắt buộc nhập!
              </ng-container>
            </div>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ</label>
            <input type="text" class="form-control" id="address" formControlName="address" />
            <div *ngIf="formData.get('address')!.invalid && formData.get('address')!.touched" class="text-danger">
              <ng-container *ngIf="formData.get('address')!.errors?.required">
                Địa chỉ bắt buộc nhập!
              </ng-container>
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Mô Tả</label>
            <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
            <div *ngIf="formData.get('description')!.invalid && formData.get('description')!.touched" class="text-danger">
              <ng-container *ngIf="formData.get('description')!.errors?.required">
                Mô tả bắt buộc nhập!
              </ng-container>
            </div>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-2">Lưu</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Đóng</button>
      </div>
    </div>
  </div>
</div>
