<div class="custom-paginator pt-4 d-flex justify-content-center align-items-center ">
    <button class="btn btn-primary mr-1" [disabled]="hasPrePage" (click)="goFirstPage()">
      <i class="fa fa-backward" aria-hidden="true"></i>
    </button>
    <button class="btn btn-primary mr-1" [disabled]="hasPrePage" (click)="goPreviousPage()">
      <i class="fa fa-caret-left" aria-hidden="true"></i>
    </button>
    <p class="paginator-page mb-0 mr-1">{{current_page}}/{{last_page}}</p>
    <button class="btn btn-primary mr-1" [disabled]="hasNextPage" (click)="goNextPage()">
      <i class="fa fa-caret-right" aria-hidden="true"></i>
    </button>
    <button class="btn btn-primary" [disabled]="hasNextPage" (click)="goLastPage()">
      <i class="fa fa-forward" aria-hidden="true"></i>
    </button>
  </div>
  