<div class="container">
  <header class="row">
    <div class="col">
      <h1>THÔNG TIN SINH VIÊN</h1>
    </div>
  </header>

  <section class="row">
    <div id="inventor" class="col">
      <img src="../assets/images/{{ student.image }}" alt="" />
      <p>Họ & Tên: {{ student.name }}</p>
      <p>Ngày Sinh: {{ student.birthday }}</p>
      <p>Giới Tính: {{ student.sex }}</p>
      <p>Điểm Trung Bình: {{ student.mediumScore }}</p>

      <button class="btn btn-primary">Hello</button>
    </div>
  </section>

  
  <div class="inventor">
    <h2>Danh Sách</h2>
    <table class="inventor-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Year</th>
          <th>Passed</th>

        </tr>
      </thead>
      <tbody id="list">
       
      </tbody>
     
    </table>
  </div>
  
  <div class="products-list">
    <h2>Sản Phẩm</h2>
    <table class="products-table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of products">
          <td><img class="img2" [src]="item.imageUrl" alt="{{ item.productName }}" ></td>
          <td>{{ item.productName }}</td>
          <td>{{ item.productCode }}</td>
          <td>{{ item.releaseDate }}</td>
          <td>{{ item.price }}</td>
          <td>{{ item.starRating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
</div>
